# dictionary( ):

*    A Python dictionary stores data in key-value pairs, where each key is unique, and it maps to a corresponding value.
*   Dictionaries are mutable (we can add, update, or remove key-value pairs after creation).
*    Dictionaries are defined using curly braces {} with keys and values separated by colons,
*    A dictionary cannot have duplicate keys; if a duplicate key is assigned a new value, the old value gets overwritten.
*   Dictionaries can contain other dictionaries, allowing the creation of complex data structures

In [2]:
person = {"Name":"Bharath","Age":21,"City":"Hyderabad","DOB":4}
print(type(person))
print(person)

<class 'dict'>
{'Name': 'Bharath', 'Age': 21, 'City': 'Hyderabad', 'DOB': 4}

# Dictionary Methods:
1) pop( ):
*   Removes the item with the specified key name

In [3]:
person = {"Name":"Bharath","Age":21,"City":"Hyderabad","DOB":4}
person.popitem()

('DOB', 4)

In [4]:
person = {"Name":"Bharath","Age":21,"City":"Hyderabad","DOB":4}
person.pop("City")

'Hyderabad'

2) update( ):
*   Updates the dictionary with key-value pairs from another dictionary.

In [5]:
person = {"Name":"Bharath","Age":21,"City":"Hyderabad","DOB":4}

In [6]:
person.update({"Age": 26})
print(person)

{'Name': 'Bharath', 'Age': 26, 'City': 'Hyderabad', 'DOB': 4}

In [7]:
person.update({"Email":"bharath@gmail.com"})
print(person)

{'Name': 'Bharath', 'Age': 26, 'City': 'Hyderabad', 'DOB': 4, 'Email': 'bharath@gmail.com'}

3) dict.keys():


*   Returns a view object of all the keys in the dictionary.

In [8]:
person = {"Name":"Bharath","Age":21,"City":"Hyderabad","DOB":4,"Email":"nithish@gmail.com"}
person.keys()

dict_keys(['Name', 'Age', 'City', 'DOB', 'Email'])

In [9]:
a = {1:"a",2:"b",3:"c"}
a.keys()

dict_keys([1, 2, 3])

# 4) dict.values():
### *   Returns a view object of all the values in the dictionary.

In [10]:
person = {"Name":"Bharath","Age":21,"City":"Hyderabad","DOB":4,"Email":"nithish@gmail.com"}
person.values()

dict_values(['Bharath', 21, 'Hyderabad', 4, 'nithish@gmail.com'])

5) dict.items( ):

*   Returns a view object containing key-value pairs as tuples.

In [14]:
person = {"Name":"Bharath","Age":21,"City":"Hyderabad","DOB":4,"Email":"nithish@gmail.com"}
print(person.items())

dict_items([('Name', 'Bharath'), ('Age', 21), ('City', 'Hyderabad'), ('DOB', 4), ('Email', 'nithish@gmail.com')])

In [15]:
a = {1:"a",2:"b",3:"c"}
print(a.items())

dict_items([(1, 'a'), (2, 'b'), (3, 'c')])

6) dict.copy( ):
*   Returns a shallow copy of the dictionary.

In [16]:
person2 = person.copy()
print(person)
print(person2)

{'Name': 'Bharath', 'Age': 21, 'City': 'Hyderabad', 'DOB': 4, 'Email': 'nithish@gmail.com'}
{'Name': 'Bharath', 'Age': 21, 'City': 'Hyderabad', 'DOB': 4, 'Email': 'nithish@gmail.com'}

In [17]:
a = {1:"a",2:"b",3:"c"}
b = a.copy()
print(a)
print(b)

{1: 'a', 2: 'b', 3: 'c'}
{1: 'a', 2: 'b', 3: 'c'}

7) dict.clear( ):
*   Removes all items from the dictionary

In [18]:
person.clear()
print(person)
print(person2)

{}
{'Name': 'Bharath', 'Age': 21, 'City': 'Hyderabad', 'DOB': 4, 'Email': 'nithish@gmail.com'}

In [20]:
a.clear()
print(a)
print(b)

{}
{1: 'a', 2: 'b', 3: 'c'}