# Operators:
**1) Arithmetic operators:** are used with numeric values to perform common mathematical operations

In [1]:
a = 28
b = 6
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

34
22
168
4.666666666666667
4
481890304
4

**2)Comparison operators :** are used to compare two values:

In [2]:
a = 28
b = 6
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
True
False
True
False

**3)Assignment operators:** are used to assign values to variables

In [5]:
a = 28
b = 6
a+=b
print(a)

34

In [6]:
a-=b
print(a)

28

In [7]:
a*=b
print(a)

168

In [8]:
a/=b
print(a)

28.0

In [9]:
a%=b
print(a)

4.0

In [10]:
a**=b
print(a)

4096.0

In [11]:
print(77&33)
print(87&23)
print(37|87)
print(73|99)
print(37<<3)
print(77<<2)
print(347>>87)
print(999>>3)
print(7>>3)
print(9^3)
print(73^32)

1
23
119
107
296
308
0
124
0
10
105